.maincarrusel {
    position: relative;   
    width: 100%;

  }
  
  .carrusel {
    position: relative;
  }

  .textoProducto {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    
  }

  .carousel-image {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .main-image {
    width: 20em;
  }
  
  .side-image {
    width: 5em;
  }

  .main-text {
    width: 20em;
  }
  
  .side-text {
    width: 0em;
  }