.maincarrusel {
    position: relative;   
    width: 100%;

  }
  
  .carrusel {
    position: relative;
  }

  .preciocarrusel {
    position: absolute;
  }

  .carousel-image {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .main-image {
    width: 20em;
  }
  
  .side-image {
    width: 5em;
  }