/* General styles */
.header {
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D89A9A;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    display: block;
}

.logo.open {
    width: 80px;
    height: 80px;
}

/* Menu styles */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.navbar-item {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: gray;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    display: flex;
    height: 3px;
    background: gray;
    margin: 10px 10px;
    width: 50px;
    align-items: center;
}

.close-btn {
    display: none;
}

/* Mobile styles */
@media all and (max-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
    }

    .logo {
        display: block;
        width: 100px;
        min-height: 100px;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .navbar-item {
        text-decoration: none;
        padding: 0.5rem;
        margin: 0 0.5rem;
        color: gray;
        font-family: "Philosopher", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        padding-right: 80px;
        padding-top: 15px;
        
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #D89A9A;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        padding-top: 80px;
    }

    .menu.open {
        display: flex;
    }

 

    .hamburger.hidden {
        display: none;
    }

    .close-btn.visible {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 32px;
        color: #fff;
        cursor: pointer;
        padding-top: 20px;
        padding-right: 35px;
    }

    .logo-container {
        width: 0;
        height: 0;
    }
  

    .menu a {
        display: flex;
        color: #2B6773;
        padding: 15px 0;
        width: 100%;
        height: 100px;
        text-align: center;
        border-top: 1px solid gray;
        align-items: center;
        justify-content: center;
    }

    .menu a:first-child {
        border-top: none;
    }
}
