.footerprobe {
    
    display: flex;
    background: #D89A9A;
    bottom: 0;
    width: 100%;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    font-family: "Philosopher", sans-serif;

}


@media all and (max-width: 680px) {
    .footerprobe {
        
        width: 100vh;}}
       
.textfooter {
    color: #F4ECE1;
}

.franja {
    position:sticky ;
    max-width: 200px; 
    max-height: 120px;
}

/* .FooterContainer {
display: flex;
flex-direction: column;

max-width: 1000px;
bottom: 0;
}

.Column {
display: flex;
flex-direction: column;
text-align: center;} */