/* General styles */
.header {
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D89A9A;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: 80px;
    display: block;
}

/* Added a new class for desktop logo */
.logo-container-desktop {
    display: none; /* Hidden by default, only displayed on big screens */
}

.logo-desktop {
    width: 80px;
    height: 80px;
    display: block;
}

/* Menu styles */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.navbar-item {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: gray;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    display: flex;
    height: 3px;
    background: gray;
    margin: 10px 10px;
    width: 50px;
    align-items: center;
}

.close-btn {
    display: none;
}

/* Mobile styles */
@media all and (max-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
    }

    .logo-container {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 10000;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        width: 30px;
        height: 30px;
        padding-right: 80px;
        padding-top: 15px;
        
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #D89A9A;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        padding-top: 80px;
        justify-content: space-evenly;
    }

    .menu.open {
        display: flex;
        height: 100vh;
    }


    .navbar-item {
        padding: 1rem;
        width: 100%;
        text-align: center;
        border-top: 1px solid gray;
        top: 100px;
    }

    .hamburger.hidden {
        display: none;
    }

    .close-btn.visible {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 32px;
        color: #fff;
        cursor: pointer;
        padding-top: 20px;
        padding-right: 35px;
    }

    /* Ensures the mobile logo is always visible */
    .menu .logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

/* Added styles for big screens to display the logo in the middle of the menu */
@media all and (min-width: 769px) {
    .logo-container {
        display: none; /* Hide main logo container on big screens */
    }

    .logo-container-desktop {
        display: flex; /* Display desktop logo container on big screens */
    
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}
