.footerprobe {
    
    display: flex;
    background: #D89A9A;
    bottom: 0;
    width: 100%;
    color: gray;
    font-family: 'NewMacchiato';
    justify-content: center;
    text-align: center;
}

/* .FooterContainer {
display: flex;
flex-direction: column;

max-width: 1000px;
bottom: 0;
}

.Column {
display: flex;
flex-direction: column;
text-align: center;} */