.productos {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    padding-top: 5%;
    position: relative;
}

@media all and (max-width: 768px) {
    .productos {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .circulo {
        width: 7em;
        height: 7em;
    }
}
