.swiper {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 50px;
    
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    border: solid orange 3px;
    border-radius: 8px;
    /* width: 200px;
    height: 200px; */
  }

  .swiper-slide:hover {
    border: solid black 2px;
  
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-button-next {
    color:black;
  }

  .swiper-slide-next {
    height: 15%;
    width: 15%;
  }

  .swiper-container {
    background: #D89A9A;
  }