@font-face {
  font-family: jerio;
  src: url(https://www.fontspace.com/jerio-font-f116310);
}

* {
  margin: 0;
  font-family: "Cinzel";
  
}
  


code {
  font-family: jerio;
}

body {
  width: 100%;
  min-width: 100%;
  overflow-x : hidden;  

}

@media all and (max-width: 680px) {
  body {
      
      width: 100vh;
     
  }}

.whatsapp {
  position: fixed;
  bottom: 0;
  right:  0;
  overflow: auto;
  
}
